body, html {
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', 'Arial', 'serif';
}

/*style for calendar*/
table, th{
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
	color: white;
	background-color: #424242;
	padding: 1vw;
	width: 10vw;
	height: 5vh;
	font-size: 1.5vw;
}


/* Responsive Design for Mobile */
@media (max-width: 900px) {
} 

