p {
    font-size: 25px;
    text-align: center;
  }

  u {
    text-decoration: none;
    border-bottom: 2px solid black;
  }

  .aside,#root{
    width:20%;
    height:100%;
  }

  .aside2{
    margin-top: -200px;
  }

  .tempSpaceTwo{
    width:5%"
  }

  .bottom-container {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align:center;

  }

  .formApperance p{
    font-size: 18px;
  }

  .formApperance h1{
    font-weight: normal;
    font-size: 20px;
  }

  .textbox {
    width: 70px;
    height: 20px;
    border: none;
    background-color: #D9D9D9;
    color: black;
    margin-left: 5px;
  }

  .submitButton {
    text-decoration: none;
    border: none;
    width: 125px;
    height: 30px;
    background-color: #ed1b2f ;
    color: white;
    font-family: 'EB Garamond', Arial, serif;
    font-size: 20px;
    transition: background-color 0.3s;
  }

  .submitButton:hover {
    background-color: #424242  ;
  }
  
  .tempSpace{
    width:10%;
  }

  #hiddenDate{
      display: none;
  }

  @media (max-width: 900px) {
    .tempSpace{
      width:0%;
    }
    .tempSpaceTwo{
      width:0%"
    }
    .aside2{
      margin-top: 0px;
    }
    
  }

  @media (max-width: 700px) {
    .calendar-selector{
      display: none;
    }

    .aside2{
      margin-top: 100px;
      width: 100%;
    }

    .bottom-container{
      margin-top: 0px;
    }
    .tempSpace{
      width: 0%;
    }
    .aside{
      width: 100%;
    }
    
  }
