
<title>Real-time Search Bar</title>
<link rel="stylesheet" href="../css/booking.css">
<link rel="stylesheet" href="../css/public.css">
<script src="../js/searchbar.js"></script>
<script src="../js/populate_cal.js"></script>
<script src="../js/booking_logic.js"></script>




<%- include('template.ejs'); %>

<div class="hide_for_small_screen">

        <div class="full_element"></div>

        <div>
        <h1>RSVP For an Office Hour</h1>
        </div>
</div>


<div class="booking_layout">


    <!-- Search bar section -->

    <div class="full_element">


        <p>Search for a class or Professor</p>

        <div class="search-container">
            <input type="text" id="search" class="search-bar" placeholder="Search..." oninput="filterSuggestions()">
            <div id="suggestions" class="suggestions" style="display: none;" ></div>
        </div>

        
        
        

        <div class="full_element"></div>
        
        <div class="rsvp_booking">
                <label for="dropdown">Confirm RSVP for:</label>
                <select id="dropdown" name="classes">
                    <option id="class1" style="display: none;"></option>
                    <option id="class2" style="display: none;"></option>
                    <option id="class3" style="display: none;"></option>
                    <option id="class4" style="display: none;"></option>
                    <option id="class5" style="display: none;"></option>
                    <option id="class6" style="display: none;"></option>
                </select> <br> for the week shown <br> 


               
                
                
                
                <button class="button_class">Confirm</button>
        </div>


        <p>Need to Request a specific time?</p>
        
        <button class="button_class">
            Request a Time
        </button>
        
    </div>

    <!-- calendar section -->
    <div class="cal_class_booking">

        <div class="calendar-container">
            <%- include('calendar.ejs'); %>
        </div>

    </div>   

</div>




