
<title>Real-time Search Bar</title>
<link rel="stylesheet" href="../css/booking.css">
<link rel="stylesheet" href="../css/public.css">





<%- include('template.ejs'); %>


<script>
    document.addEventListener('DOMContentLoaded', function() {
      renderCalendar();
    });
  </script>


<div class="hide_for_small_screen">

        <div class="full_element"></div>

        <div>
        <h1>RSVP For an Office Hour</h1>
        </div>
</div>


<div class="booking_layout">


    <!-- Search bar section -->

    <div class="full_element">


        <p>Search for a class or Professor</p>

        <div class="search-container">
            <input type="text" id="search" class="search-bar" placeholder="Search..." oninput="filterSuggestions()">
            <div id="suggestions" class="suggestions" style="display: none;" ></div>
        </div>

        
        
        

        <div class="full_element"></div>
        
        <div class="rsvp_booking">
                <label for="dropdown">Confirm RSVP for:</label>
                <select id="dropdown" name="classes">
                    <option id="class0"></option>
                    <option id="class1" style="display: none;"></option>
                    <option id="class2" style="display: none;"></option>
                    <option id="class3" style="display: none;"></option>
                    <option id="class4" style="display: none;"></option>
                    <option id="class5" style="display: none;"></option>
                    <option id="class6" style="display: none;"></option>
                </select> <br> on

                <select id="day" name="day" required>
                    <option value="0">Sunday</option>
                    <option value="1">Monday</option>
                    <option value="2">Tuesday</option>
                    <option value="3">Wednesday</option>
                    <option value="4">Thursday</option>
                    <option value="5">Friday</option>
                    <option value="6">Saturday</option>
                </select> at <br>

               
                    <label for="start-time">Start Time:</label>
                    <input type="time" id="start-time" name="start-time" required>
                    <br><br>
                    <label for="end-time">End Time:</label>
                    <input type="time" id="end-time" name="end-time" required>
                    <br><br>
                    <button type="submit" id="confirm" class="button_class", onclick=logFormData()>Confirm</button>

                
                
                
                
        </div>


        <p>Need to Request a specific time?</p>
        
        <button class="button_class">
            Request a Time
        </button>
        
    </div>

    <!-- calendar section -->
    <div class="cal_class_booking">

        <div class="calendar-container">
            <%- include('calendar.ejs'); %>
        </div>

    </div>   

    <script src="../js/searchbar.js"></script>
<script src="../js/populate_cal.js"></script>

</div>




