<!-- Alexandros Contomichalos 261039376 -->

<title>Booking</title>
<link rel="stylesheet" href="../css/booking.css">
<link rel="stylesheet" href="../css/public.css">
<link rel="stylesheet" href="css/stylesheet.css">
<link rel="stylesheet" href="css/navbar.css">
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">




    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="navbar-container">

            <div class="hamburger" id="hamburger-icon">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>


           
            <ul class="nav-links" id="nav-links">
                <li><a href="../dashboard" class="button_class_nav">Dashboard</a></li>
                <li><a href="../request" class="button_class_nav">Request</a></li>

            </ul>
        </div>
    </nav>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      renderCalendar();
    });
  </script>


<div class="hide_for_small_screen">

        <div class="full_element"></div>

        <div>
        <h1>RSVP For an Office Hour</h1>
        </div>
</div>


<div class="booking_layout">


    <!-- Search bar section -->

    <div class="full_element">


        <p>Search for a class or Professor</p>

        <div class="search-container">
            <input type="text" id="search" class="search-bar" placeholder="Search..." oninput="filterSuggestions()">
            <div id="suggestions" class="suggestions" style="display: none;" ></div>
        </div>

        
        
        

        <div class="full_element"></div>
        
        <div class="rsvp_booking">
                <label for="dropdown">Confirm RSVP for:</label><br><br>
                <select id="dropdown" name="classes">
                    <option id="class0">Select a class</option>
                    <option id="class1" style="display: none;"></option>
                    <option id="class2" style="display: none;"></option>
                    <option id="class3" style="display: none;"></option>
                    <option id="class4" style="display: none;"></option>
                    <option id="class5" style="display: none;"></option>
                    <option id="class6" style="display: none;"></option>
                </select> <br><br> on<br><br>

                <select id="day" name="day" required>
                    <option value="0">Sunday</option>
                    <option value="1">Monday</option>
                    <option value="2">Tuesday</option>
                    <option value="3">Wednesday</option>
                    <option value="4">Thursday</option>
                    <option value="5">Friday</option>
                    <option value="6">Saturday</option>
                </select> <br><br>

               
                    <label for="start-time">Show up Time:</label>
                    <input type="time" id="start-time" name="start-time" required>
                    <br><br>
                    <button type="submit" id="confirm" class="button_class", onclick=logFormData()>Confirm</button>
                    <br><br>

                
                
                
                
        </div>

        
        
    </div>

    <!-- calendar section -->
    <div class="cal_class_booking">

        <div class="calendar-container">
            <%- include('calendar.ejs'); %>
        </div>

    </div>   

    <script src="../js/searchbar.js"></script>
    <script src="../js/populate_cal.js"></script>
    <script src="../js/navbar.js"></script>


</div>




