<!DOCTYPE html>
<!--Author: Leonardo Martinez 261082940-->
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../css/cal.css">
</head>
<body>
<div class="calendar-container">
	<table class="calendar-grid">
		<tr class="calendar-buttons">
			<th class="b-container" colspan="4">
			<button class="prev-week" onclick="prevWeek()">
				Previous Week
			</button>
			</th>
			<th class="b-container" colspan="4">
			<button class="next-week" onclick="nextWeek()">
				Next Week
			</button>
			</th>
		</tr>
		<tr><th colspan="8" id="current-month-year"></th></tr>
		<tr class="day-header">
			<th class="day-name" id="time">Start Time</th>
			<th class="day-name" id="day0">Sun</th>
			<th class="day-name" id="day1">Mon</th>
			<th class="day-name" id="day2">Tue</th>
			<th class="day-name" id="day3">Wed</th>
			<th class="day-name" id="day4">Thu</th>
			<th class="day-name" id="day5">Fri</th>
			<th class="day-name" id="day6">Sat</th>
		</tr>
		<tr>
			<!--each td has id of format [starttime][dayofweek]-->
			<th class=time id="7">7:00</th>
				<td id="070"></td>
				<td id="071"></td>
				<td id="072"></td>
				<td id="073"></td>
				<td id="074"></td>
				<td id="075"></td>
				<td id="076"></td>
		</tr>
		<tr>
			<th class=time id="8">8:00</th>
				<td id="080"></td>
				<td id="081"></td>
				<td id="082"></td>
				<td id="083"></td>
				<td id="084"></td>
				<td id="085"></td>
				<td id="086"></td>
		</tr>
		<tr>
			<th class=time id="9">9:00</th>
				<td id="090"></td>
				<td id="091"></td>
				<td id="092"></td>
				<td id="093"></td>
				<td id="094"></td>
				<td id="095"></td>
				<td id="096"></td>
		</tr>
		<tr>
			<th class=time id="10">10:00</th>
				<td id="100"></td>
				<td id="101"></td>
				<td id="102"></td>
				<td id="103"></td>
				<td id="104"></td>
				<td id="105"></td>
				<td id="106"></td>
		</tr>
		<tr>
			<th class=time id="11">11:00</th>
				<td id="110"></td>
				<td id="111"></td>
				<td id="112"></td>
				<td id="113"></td>
				<td id="114"></td>
				<td id="115"></td>
				<td id="116"></td>
		</tr>
		<tr>
			<th class=time id="12">12:00</th>
				<td id="120"></td>
				<td id="121"></td>
				<td id="122"></td>
				<td id="123"></td>
				<td id="124"></td>
				<td id="125"></td>
				<td id="126"></td>
		</tr>
		<tr>
			<th class=time id="1">1:00</th>
				<td id="010"></td>
				<td id="011"></td>
				<td id="012"></td>
				<td id="013"></td>
				<td id="014"></td>
				<td id="015"></td>
				<td id="016"></td>
		</tr>
		<tr>
			<th class=time id="2">2:00</th>
				<td id="020"></td>
				<td id="021"></td>
				<td id="022"></td>
				<td id="023"></td>
				<td id="024"></td>
				<td id="025"></td>
				<td id="026"></td>
		</tr>
		<tr>
			<th class=time id="3">3:00</th>
				<td id="030"></td>
				<td id="031"></td>
				<td id="032"></td>
				<td id="033"></td>
				<td id="034"></td>
				<td id="035"></td>
				<td id="036"></td>
		</tr>
		<tr>
			<th class=time id="4">4:00</th>
				<td id="040"></td>
				<td id="041"></td>
				<td id="042"></td>
				<td id="043"></td>
				<td id="044"></td>
				<td id="045"></td>
				<td id="046"></td>
		</tr>
		<tr>
			<th class=time id="5">5:00</th>
				<td id="050"></td>
				<td id="051"></td>
				<td id="052"></td>
				<td id="053"></td>
				<td id="054"></td>
				<td id="055"></td>
				<td id="056"></td>
		</tr>
		<tr>
			<th class=time id="6">6:00</th>
				<td id="060"></td>
				<td id="061"></td>
				<td id="062"></td>
				<td id="063"></td>
				<td id="064"></td>
				<td id="065"></td>
				<td id="066"></td>
		</tr>
	</table>
</div>
</body>
</html>
