<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../css/cal.css">
</head>
<body>
<div class="calendar-container">

	<table class="calendar-grid">
		<tr><th colspan="8" id="current-month-year"></th></tr>
		<tr class="day-header">
			<th class="day-name" id="time"></th>
			<th class="day-name" id="day0">Sun</th>
			<th class="day-name" id="day1">Mon</th>
			<th class="day-name" id="day2">Tue</th>
			<th class="day-name" id="day3">Wed</th>
			<th class="day-name" id="day4">Thu</th>
			<th class="day-name" id="day5">Fri</th>
			<th class="day-name" id="day6">Sat</th>
		</tr>
		<tr class="calendar-buttons">
			<th class="b-container" colspan="4">
			<button class="prev-week" onclick="prevWeek()">
				Previous Week
			</button>
			</th>
			<th class="b-container" colspan="4">
			<button class="next-week" onclick="nextWeek()">
				Next Week
			</button>
			</th>
		</tr>
		</table>
</div>
<script src="../js/calendar.js"></script>
</body>
</html>
