<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../css/cal.css">
</head>
<body>
<div class="calendar-container">

	<table class="calendar-grid">
		<tr><th colspan="7" id="current-month-year"></th></tr>
		<tr class="day-header">
			<th class="day-name" id="day0">Sun</th>
			<th class="day-name" id="day1">Mon</th>
			<th class="day-name" id="day2">Tue</th>
			<th class="day-name" id="day3">Wed</th>
			<th class="day-name" id="day4">Thu</th>
			<th class="day-name" id="day5">Fri</th>
			<th class="day-name" id="day6">Sat</th>
		</tr>
		<tr class="calendar-buttons">
			<th class="test" colspan="3">
			<button class="prev-week" onclick="prevWeek()">
				Previous Week
			</button>
			</th>
			<th id="middle"></th>
			<th class="test" colspan="3">
			<button class="next-week" onclick="nextWeek()">
				Next Week
			</button>
			</th>
		</tr>
		</table>
</div>
<script>
	// JavaScript functions to handle date navigation and rendering
	let currentDate = new Date();

	function prevWeek() {
	currentDate.setDate(currentDate.getDate() - 7);
	renderCalendar();
	}

	function nextWeek() {
	currentDate.setDate(currentDate.getDate() + 7);
	renderCalendar();
	}

	function renderCalendar() {
	// Logic to calculate the dates for the current week
	// and render the calendar grid
	const monthYear = currentDate.toLocaleString('default', {
		month: 'long',
		year: 'numeric',
	});
	document.getElementById('current-month-year').textContent = monthYear;
	let days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday',
		'Thurday', 'Friday', 'Saturday']
	let now = new Date(currentDate);
	now.setDate(currentDate.getDate() - currentDate.getDay());
	for(let i =0; i <7; i++) {
		let cur = new Date(now);
		cur.setDate(now.getDate() + i)
		let d = cur.toLocaleString('default', {
			day: 'numeric',
		});
		let dayIndex = cur.getDay();
			document.getElementById("day"+ dayIndex).innerText = days[dayIndex]+ " " + d;
		}
	}
	//render calendar
	renderCalendar();
</script>
</body>
</html>
