<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../css/cal.css">
</head>
<body>
<div class="calendar-container">

	<table class="calendar-grid">
		<tr class="calendar-buttons">
			<th class="b-container" colspan="4">
			<button class="prev-week" onclick="prevWeek()">
				Previous Week
			</button>
			</th>
			<th class="b-container" colspan="4">
			<button class="next-week" onclick="nextWeek()">
				Next Week
			</button>
			</th>
		</tr>
		<tr><th colspan="8" id="current-month-year"></th></tr>
		<tr class="day-header">
			<th class="day-name" id="time"></th>
			<th class="day-name" id="day0">Sun</th>
			<th class="day-name" id="day1">Mon</th>
			<th class="day-name" id="day2">Tue</th>
			<th class="day-name" id="day3">Wed</th>
			<th class="day-name" id="day4">Thu</th>
			<th class="day-name" id="day5">Fri</th>
			<th class="day-name" id="day6">Sat</th>
		</tr>
		<tr>
			<th class=time id="7">7:00-8:00</th>
					<td>COMP 307<br>Office Hours</td>
		</tr>
		<tr>
			<th class=time id="8">8:00-9:00</th>
					<td>COMP 307<br>Office Hours</td>
		</tr>
		<tr>
			<th class=time id="9">9:00-10:00</th>
		</tr>
		<tr>
			<th class=time id="10">10:00-11:00</th>
		</tr>
		<tr>
			<th class=time id="11">11:00-12:00</th>
		</tr>
		<tr>
			<th class=time id="12">12:00-1:00</th>
		</tr>
		<tr>
			<th class=time id="1">1:00-2:00</th>
		</tr>
		<tr>
			<th class=time id="2">2:00-3:00</th>
		</tr>
		<tr>
			<th class=time id="3">3:00-4:00</th>
		</tr>
		<tr>
			<th class=time id="4">4:00-5:00</th>
		</tr>
		<tr>
			<th class=time id="5">5:00-6:00</th>
		</tr>
		<tr>
			<th class=time id="6">6:00-7:00</th>
		</tr>
		</table>
</div>
<script src="../js/calendar.js"></script>
</body>
</html>
