<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mySchedule</title>
    <link rel="stylesheet" href="css/stylesheet.css">
	<link rel="stylesheet" href="../css/dash.css">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">

</head>
<body>

    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="navbar-container">
           
            <ul class="nav-links">
                <li><a href="https://fall2024-comp307-group03.cs.mcgill.ca/request">Request</a></li>
                <li><a href="https://fall2024-comp307-group03.cs.mcgill.ca/booking">Booking</a></li>
            </ul>
        </div>
    </nav>
<!--DASHBOARD -->
<br>
<div class="upcoming-header dashboard-section">
	<p>Upcoming Appointments</p>
</div>

<div class="my-appointments-header dashboard-section">
	<p>All my Appointments</p>
</div>
<div class="date-header">
	<form action="">
	<label for="week">Change Date</label>
	<input type="date" id="week" name="week">
	<input type="submit">
	</form>
</div>
<div class="calendar-container">
	<%- include('calendar.ejs'); %>
</div>
<div class="upcoming-container">
	<%- include('upcoming.ejs'); %>
</div>
<script src="../js/dashboard.js"></script>
<script src="../js/calendar.js"></script>
</html>
