<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
    <link rel="stylesheet" href="../css/stylesheet.css" type="text/css">
    <link rel="stylesheet" href="../css/schedule.css" type="text/css">
    <link rel="stylesheet" href="css/navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">

</head>

<body>

    <!-- Navigation Bar -->
    <nav class="navbar">
      <div class="navbar-container">

          <div class="hamburger" id="hamburger-icon">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
          </div>


         
          <ul class="nav-links" id="nav-links">
              <li><a href="../pdashboard" class="button_class_nav">Dashboard</a></li>
              <li><a href="../viewRequests" class="button_class_nav">View Requests</a></li>
              <li><a href="../schedule" class="button_class_nav">Add Entry?</a></li>


          </ul>
      </div>
  </nav>



    <div class="bottom-container" id="choice">
      <div style="width:10%">
      </div>
    <div class="aside" id="root" >
      <h1 style="font-size: 25px" class="heading">Fill out form to delete any event!</h1>
      <form class="formApperance" id="myForm" onsubmit="return submitForm()"">
      <h1>What date is the class you want to delete scheduled for?</h1>
      <input type="date" name="deleteDate"></input>
      <h1>At: <select name="time">
        <option value="7">7:00 AM</option>
        <option value="8">8:00 AM</option>
        <option value="9">9:00 AM</option>
        <option value="10">10:00 AM</option>
        <option value="11">11:00 AM</option>
        <option value="12">12:00 PM</option>
        <option value="1">1:00 PM</option>
        <option value="2">2:00 PM</option>
        <option value="3">3:00 PM</option>
        <option value="4">4:00 PM</option>
        <option value="5">5:00 PM</option>
        <option value="6">6:00 PM</option>
        </select>
        <br>
        <br>

        <button class="submitButton">Delete</button>
      </form>
        
    </div>
    <div style="width:5%">
    </div>

    <div class="calendar-selector" style="width:65%;margin:auto">
        <%- include('calendar.ejs'); %>
    </div>
    </div>


    <script src="../js/calendar.js"></script>
    <script>
      //Fetches current user's email (in this case a prof)
      let proffesor;
      async function fetchUserEmail(){
        const response = await fetch(`/current_user`);
        const json = await response.json();
        return json;
      }
      
      fetchUserEmail().then( e => {
        proffesor = e.email;
      });

      function validateForm(){
        const x = document.getElementById("myForm").elements;

        if(x["deleteDate"].value == ""  || x["time"].value == ""){
            alert("Form not fully filled out!");
            return false;
        }

        return true;
      }

      //Fetches any needed info
      async function fetchInfo(url){
        const response = await fetch(url);
        const json = await response.json();
        console.log(json);
        return json;
      }

      function submitForm(){
        if(!validateForm()){
          return false;
        }
        const x = document.getElementById("myForm").elements;

        let url = `/deleteInstance?date=${x["deleteDate"].value}&time=${x["time"].value}&user=${proffesor}`;

        //returns event_instance if it exists or null if not
        fetchInfo(url).then( r => {
          if(r == null){ //didn't find anything
          alert("Event Does Not Exsist");
          return false;
          } 

          const urlEvent = `/deleteEvent?iid=${r._id}&eid=${r.eventid}`;
          //Finds and deletes event of instance that user want to delete. (Will not delete event itself if it is a repeating event)
          fetchInfo(urlEvent).then( n => {
            const aside = document.getElementById("root");
            const divDelete = document.getElementById("removeAtEnd");
            aside.innerHTML = "";
            aside.insertAdjacentHTML('beforeend', `<p>Event Deleted!</p>`);
            aside.insertAdjacentHTML('beforeend', `<p>Delete another time: <a href="/delete">Here!</a></p>`);
            aside.insertAdjacentHTML('beforeend', `<p><u>Or</u></p>`);
            aside.insertAdjacentHTML('beforeend', `<p>Add a time: <a href="/schedule">Here!</a></p>`);
            divDelete.innerHTML = "";
          });

        return false;
          
        });
        return false;

      }


    </script>

    
    <script src="../js/navbar.js"></script>







</body>
