<%- include('template.ejs'); %>

<link rel="stylesheet" href="../css/public.css">




<div class="image-container">
    <img class="p_header_image" src="../images/clock2.png">
    <div class="overlay">
        <p>Login or register to get started!</p>
        <button>Login/Register</button>
    </div>
</div>

<div class="container">


    <div class="p_thirtythree">
        <div>
            <img class="p_widgets" src="../images/calendar.png">
            <p class="p_widgets_text">Add/Remove your appointments</p>
        </div>
    </div>


    <div class="p_thirtythree">
        <div >
            <img class="p_widgets" src="../images/people.png">
            <p class="p_widgets_text">Invite students to book a meeting!</p>
        </div>
    </div>


    <div class="p_thirtyfour">
        <div >
            <img class="p_widgets" src="../images/magnifier.png">
            <p class="p_widgets_text">Search for Office Hours!</p>
        </div>
    </div>

</div>

<div class="red_back">
    <h2>What can you do with McGill mySchedule?</h2>
    <ul class="schedule-list">
        <li>Search for any professor in a directory and book appointments.</li>
        <li>Easily add and remove appointments.</li>
        <li>Share meeting invites with students.</li>
        <li>View your upcoming appointments within your schedule.</li>
    </ul>

</div>


