<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link rel="stylesheet" href="../css/stylesheet.css" type="text/css">
    <link rel="stylesheet" href="../css/schedule.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">

</head>

<body>

    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="navbar-container">
           
            <ul class="nav-links">
                <li><a href="/pdashboard">Dashboard</a></li>
                <li><a href="/viewRequests">View Requests</a></li>
                <li><a href="/delete">Delete Entry?</a></li>
            </ul>
        </div>
    </nav>

    <div class="bottom-container" id="bottomContainer">
      <div class="tempSpace">
      </div>
    <div class="aside" id="root">
      <form class="formApperance" id="myForm" onsubmit="return submitForm()">
        <h1>Label:
        <input type="text" name="appointmentLabel" class="textbox"></input></h1>
        <h1>Which Class? 
          <input type="text" name="class" class="textbox"></input></h1>
        <h1>When? <input type="date" name="start"></input></h1> 
        <h1>At: <select name="time">
            <option value="7">7:00 AM</option>
            <option value="8">8:00 AM</option>
            <option value="9">9:00 AM</option>
            <option value="10">10:00 AM</option>
            <option value="11">11:00 AM</option>
            <option value="12">12:00 PM</option>
            <option value="1">1:00 PM</option>
            <option value="2">2:00 PM</option>
            <option value="3">3:00 PM</option>
            <option value="4">4:00 PM</option>
            <option value="5">5:00 PM</option>
            <option value="6">6:00 PM</option>
            </select>


        </h1>
        <h1>For 
            <select name="hours">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                </select> Hours.</h1>
        
        <h1>How many Openings?</h1>
        <p><input type="radio" name="avaliblePositions" value="userInput"></input>
        <input type="text" name="userInputAvaliblePositions"class="textbox"></input>
        </p>
        <p><input type="radio" name="avaliblePositions" id="unlimitdPositions" value="unlimited"></input>
        <label for="unlimitdPositions"> Unlimited</label></p>
        
        <h1>Repeats?</h1>
        <p><input type="radio" name="repeats" id="unlimitdPositions" value="doesRepeat" onclick="revealHiddenObject()"></input> Yes</p>
        <p><input type="radio" name="repeats" id="unlimitdPositions" value="doesNotRepeat" onclick="hideHiddenObject()""></input> No</p>

        
        <h1 id="hiddenDate">Repeats Until? <input type="date" name="end" id="reset"></input></h1> 
        <h1 id="hiddenDate"><input type="text" name="email" id="secretEmail"></input></h1> 


        <input type="submit" value="Submit" class="submitButton"></input>

      </form>
    </div>
    <div class="tempSpaceTwo">
    </div>

        <!-- Replace with calendar and need to figure out what to do at differnt sizes -->
    <div class="calendar-selector" style="width:65%;margin:auto">
      <%- include('calendar.ejs'); %>
    </div>
    </div>
    <p>Or delete a time: <a href="/delete">Here!</a></p>

    <script src="../js/calendar.js">

    </script>

    <script>
      function revealHiddenObject(){
          document.getElementById("hiddenDate").style.display = "block";
      }

      function hideHiddenObject(){
          document.getElementById("hiddenDate").style.display = "none";
          document.getElementById("reset").value = "";
      }

      function validateForm(){
        const x = document.getElementById("myForm").elements;
        //Make it not possible to schedule over an already existing event for this prof

        if(x["appointmentLabel"].value == ""  || x["class"].value == ""
          || x["start"].value == "" || x["avaliblePositions"].value == ""
          || x["repeats"].value == ""
        ){
            alert("Form not fully filled out!");
            return false;

        }

        if(x["avaliblePositions"].value == "userInput" && x["userInputAvaliblePositions"].value == ""){
          alert("Form not fully filled out!");
          return false;
        }

        if(x["avaliblePositions"].value == "userInput" && (isNaN(x["userInputAvaliblePositions"].value))){
          alert("Must input a number for openings!");
          return false;
        }

        if(x["avaliblePositions"].value == "userInput" && (x["userInputAvaliblePositions"].value) < 1){
          alert("Number of openings cannot be negative!");
          return false;
        }

        if(x["repeats"].value == "doesRepeat" && x["end"].value == ""){
          alert("Form not fully filled out!");
          return false;
        }

        let curDate = new Date();
        curDate.setHours(0,0,0,0);

        let startDate = new Date(x["start"].value);
        if(startDate < curDate){
          alert("Can not schedule event for later than tomorrow!");
          return false;
        }

        if(x["end"].value != ""){
          if(x["start"].value > x["end"].value){
          alert("An event can not repeat backwards!");
          return false;
        }
        }

        return true;
      }
      
      async function sendForm(u) {
      const response = await fetch(u);
      const json = await response.text();
      return json;
      }

      function submitForm(){
        if(validateForm() == false){
          return false;
        }
        const n = document.getElementById("myForm").elements;

        const addURL = `/add?appointmentLabel=${n["appointmentLabel"].value}&class=${n["class"].value}&start=${n["start"].value}&time=${n["time"].value}&hours=${n["hours"].value}&avaliblePositions=${n["avaliblePositions"].value}&userInputAvaliblePositions=${n["userInputAvaliblePositions"].value}&repeats=${n["repeats"].value}&end=${n["end"].value}&email=${n["email"].value}`;

        sendForm(addURL).then(x =>  {
        const bottomContainer = document.getElementById("bottomContainer");
        bottomContainer.innerHTML = "";
        bottomContainer.style.display = "block";

        bottomContainer.insertAdjacentHTML('beforeend', `<p>Send this link to your students, so they can directly RSVP for this event! </p>`);
        bottomContainer.insertAdjacentHTML('beforeend', `<p>http://localhost:3000/rsvp/?p=${x}</p>`);
        bottomContainer.insertAdjacentHTML('beforeend', `<p>Note: If this link is associated with a repeating event, it links to just the closest event</p>`);
        bottomContainer.insertAdjacentHTML('beforeend', `<p>Click here to add a new time: <a href="/schedule">Here!</a></p>`); //Note need to change getting email from token

        return false;
      });
        return false;
      }

      

  </script>

    <script>
      async function fetchUserEmail(){
        const response = await fetch(`/current_user`);
        const json = await response.json();
        return json;

      }
      //const params = new URLSearchParams(document.location.search);
      //const proffesorE = params.get("p");
      //const url = `/retrieveClasses?q=${proffesorE}`;
      //console.log(proffesorE);
      fetchUserEmail().then( e => {
        const passEmail = document.getElementById("secretEmail");
        passEmail.value = e.email;
      });

    </script>





</body>
