<!DOCTYPE html>
<!--Author: Leonardo Martinez 261082940-->
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../css/upc.css">
</head>
<body>
<!--
part of the dashboard. shows up to 4 upcoming appointments/events
-->
<div class="upcoming-container">
	<table class="upcoming-grid">
		<tr>
			<th class="u-date" id="u0"></th>
			<td class=u-td><div class="u-hour" id="h0"></div>
			<div id="l0" class="u-label">
			</td>
			</div>
		</tr>
		<tr>
			<th class="u-date" id="u1"></th>
			<td class=u-td><div class="u-hour" id="h1"></div>
			<div id="l1" class="u-label">
			</td>
			</div>
		</tr>
		<tr>
			<th class="u-date" id="u2"></th>
			<td class=u-td><div class="u-hour" id="h2"></div>
			<div id="l2" class="u-label">
			</td>
			</div>
		</tr>
		<tr>
			<th class="u-date" id="u3"><br></th>
			<td class=u-td><div class="u-hour" id="h3"></div>
			<div id="l3" class="u-label">
			</td>
			</div>
		</tr>
	</table>
</div>
<script src="../js/upcoming.js"></script>
</body>
</html>
