<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../css/upc.css">
</head>
<body>
<!--
part of the dashboard. shows up to 4 upcoming appointments/events
-->
<div class="upcoming-container">
	<table class="upcoming-grid">
		<tr>
			<th class="u-date" id="u0">DEC<br>20</th>
			<td class=u-td><div class="u-hour" id="h0">9:00 AM</div>
			<div id="l0" class="u-label">
			<br>COMP 999<br>Office Hours</td>
			</div>
		</tr>
		<tr>
			<th class="u-date" id="u1">DEC<br>25</th>
			<td class=u-td><div class="u-hour" id="h1">12:00 AM</div>
			<div id="l1" class="u-label">
			<br>COMP 999<br>Office Hours</td>
			</div>
		</tr>
		<tr>
			<th class="u-date" id="u2">JAN<br>13</th>
			<td class=u-td><div class="u-hour" id="h2">6:00 PM</div>
			<div id="l2" class="u-label">
			<br>COMP 999<br>Office Hours</td>
			</div>
		</tr>
		<tr>
			<th class="u-date" id="u3">APR<br>26</th>
			<td class=u-td><div class="u-hour" id="h3">11:00 AM</div>
			<div id="l3" class="u-label">
			<br>COMP 999<br>Office Hours</td>
			</div>
		</tr>
	</table>
</div>
<script src="../js/upcoming.js"></script>
</body>
</html>
