<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../css/upc.css">
</head>
<body>
<!--
part of the dashboard. shows up to 4 upcoming appointments/events
-->
<div class="upcoming-container">
	<table class="upcoming-grid">
		<tr>
			<th class="u-date" id="u0">DEC<br>20</th>
			<td class=u-td><div class="u-hour">9:00 AM</div>
			<br>COMP 999<br>Office Hours</td>
		</tr>
		<tr>
			<th class="u-date" id="u1">DEC<br>25</th>
			<td class=u-td><div class="u-hour">12:00 AM</div>
			<br>Christmas</td>
		</tr>
		<tr>
			<th class="u-date" id="u1">JAN<br>13</th>
			<td class=u-td><div class="u-hour">6:00 PM</div>
			<br>Personal Meeting with Prof Vybihal</td>
		</tr>
		<tr>
			<th class="u-date" id="u1">APR<br>26</th>
			<td class=u-td><div class="u-hour">11:00 AM</div>
			<br>COMP 599 Office Hours</td>
		</tr>
	</table>
</div>
<!--
<script src="../js/upcoming.js"></script>
-->
</body>
</html>
